/* src/styles/print.css */

@media print {
  body {
    background: white;
    color: black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 4px;
  }

  a {
    display: none;
  }
}
